  h1 {
    color: gray;
    font-size: 50;
    margin: 0;
  }
  

  body {
    height: 100vh;
  }
  
  /* START BELOW THIS LINE */
  /* 1 */
  @media (max-width: 800px){
    body{
        background-color: navy;
    }
  }

  /* 2 */
  @media (max-width: 600px){
    body{
        background-color: orange;
    }
  }
/* 3 */
  @media (min-width: 600px) and (min-height: 400px){
    #one{
        border: 10px dashed gray;
    }
    #three{
        border: 10px dotted gray;
    }
  }

  /* 4 */
  @media (min-width: 900px) OR (min-height: 500px){
    #two{
        border-top: 10px solid gray;
    }
  }

/* 5 */

/* You cn place display flex in the @media  */
/* body { */
    /* display: flex; */
  /* } */
  
    
  @media (orientation: landscape) {
    body {
      display: flex;
      /* You do not need the below */
      flex-direction: row;
    }
  }

  /* 6 */
  @media (orientation: portrait) {
    body {
      display: flex;
      flex-direction: column;

      /* Also include */
      
      justify-content: center;
      align-items: center;
    }
  }

  /* Bonus */
  @media print{
    body{
        text-transform: uppercase;
        text-decoration: green;
    }
  }

  /* Bonus 2 */

  @media (max-width: 800px){
    #two{
      color:navy;
    }
  }

  @media (max-width: 600px){
    #two{
      color: orange;
    }
  }

/* 1st try */
  /* @media (color: navy) or (color: orange){
    #two{
        text-decoration-color: navy;
    }
  } */


  /* Bonus 3 */

  @media (mid-width: 749px) and (max-width: 775px) and (mid-height: 550px) and (max-height: 575px){
    body{
      font-style: italic;
    }

  }
  